@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Vollkorn', serif;
}

body{
 background-color: rgba(247, 232, 232, 0.699);
 
}


.design {
  display: flex;
  background-image: url('bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  align-items: center;
  justify-content: center;
  width: 350px;

}

p {
  color: rgba(24, 17, 17, 0.856);
  font-size: 1.2rem;
  padding: 15px;
  position: relative;
 margin:2%;
 text-align:center;
}